# Ignore sensitive information
.env
/web/sites/*/settings.php
/web/sites/*/settings.local.php
/web/sites/*/services.local.php

# Ignore private files
/sites/*/files/
/sites/*/tmp/

# Ignore files created by common IDEs and editors
/.idea/
/.editorconfig

# Ignore database and backup files
/*.sql
/*.sql.gz
/*.tar.gz
/var/database/*
/var/db-dump/*

# Ignore binary files
/bin/*

# Ignore NPM tokens and node_modules in custom themes
/themes/custom/*/.npmrc
/themes/custom/*/node_modules/

# Ignore .htaccess and other specific files
/.htaccess
/.gitattributes
/.dccache

# Other specific ignores
/web/files/
/web/libraries/

