.footer{
    background-color: #3A3A3A;
    color: #ffffff;
}
.footer a{
    color: #ffffff;
    text-decoration: none;
}

.footer-1{
    display: flex;
    gap: 30px;
    padding: 60px 0px 20px 0px;
}

.footer-2{
    display: flex;
    gap: 20px;
    font-size: 14px!important;
    align-content: center;
    align-items: center;
}

#block-mirtekgroup-footer ul{
    padding: 0;
    margin: 0;
}

#block-mirtekgroup-footer ul li{
    list-style: none;
}

.line{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, white, #ffffff, white);
    width: 100%;
    max-width: 1420px;
}

.footer-second{
    display: flex;
    align-items: center;
    align-content: center;
    gap: 20px;
    flex: 1 0 0;
    flex-wrap: wrap;
}

.soc-icon {
    display: flex;
    place-items: center;
    justify-content: center;
    align-items: center;
}

.icon-telegram{
    width: 50px;
    height: 50px;
    background-image: url('/themes/custom/mirtekgroup/images/icon/telegram.svg');
}

.icon-rutube{
    width: 50px;
    height: 50px;
    background-image: url('/themes/custom/mirtekgroup/images/icon/rutube.svg');
}

.icon-vk{
    width: 50px;
    height: 50px;
    background-image: url('/themes/custom/mirtekgroup/images/icon/vk.svg');
}