#tns1 > .tns-item {
    width: calc(15%)!important;
}

.swiper.swiper-row{
    padding-bottom: 132px;
}

.swiper.swiper-row .swiper-wrapper{
    max-height: 190px;
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.swiper.swiper-row .swiper-wrapper .swiper-slide{
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
    margin: 0!important;
}

.swiper.swiper-row .swiper-wrapper .swiper-slide img{
    /*width: 244px;*/
}

.swiper.swiper-row.trust-us-row .swiper-wrapper{
    max-height: 140px;
    gap: 0;
}

.swiper.swiper-row .swiper-pagination{
    text-align: center;
    font-family: Mont;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.swiper.swiper-row .swiper-alt{
    color: var(--text_black, #1D1D1D);
    font-family: Mont;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 20px;
}

.swiper-carousel{
    border-radius: 4px;
    border: 1px solid var(--gray_03, #E4E4E4);
    background: var(--white, #FFF);
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.15);
    padding-bottom: 50px!important;
    margin: 40px 0px;
}

.swiper-carousel .swiper-pagination{
    width: 75px;
}
.swiper-carousel .swiper-pagination .swiper-pagination-bullet{
    left: 0!important;
}

.swiper-carousel .swiper-wrapper .swiper-slide img{
    width: 100%;
    border-radius: 4px 4px 0px 0px;
    background: url(<path-to-image>) lightgray 50% / cover no-repeat;
    /*max-height: 373px;*/
}

.swiper-carousel .swiper-button-next, .swiper-button-prev{
    top: var(--swiper-navigation-top-offset, 93%)!important;
    width: calc(var(--swiper-navigation-size) / 1* 1)!important;
}

.swiper-carousel .swiper-button-next{
    right: 37%;
}
.swiper-carousel .swiper-button-prev{
    left: 37%;
}

.swiper-carousel  .swiper-pagination-bullet {
    width: var(--swiper-pagination-bullet-width,var(--swiper-pagination-bullet-size,14px));
    height: var(--swiper-pagination-bullet-height,var(--swiper-pagination-bullet-size,14px));
}

.swiper-carousel .swiper-pagination-bullet-active{
    opacity: var(--swiper-pagination-bullet-opacity, 0.75);
}

.swiper-carousel .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
    bottom: var(--swiper-pagination-bottom, 25px) !important;
}

.swiper.swiper-product{
    padding-bottom: 66px;
}

.swiper.swiper-product .swiper-wrapper .swiper-slide img{
    width: 100%;
    height: auto;
}

.swiper.swiper-product .swiper-pagination{
    text-align: center;
    font-family: Mont;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.swiper.swiper-product .swiper-button-prev{
    left: 50%;
    transform: translateX(calc(-100% - 35px));
}

.swiper.swiper-product .swiper-button-next{
    right: 50%;
    transform: translateX(calc(100% + 35px));
}

.swiper.swiper-product .swiper-button-next,
.swiper.swiper-product .swiper-button-prev{
    top: var(--swiper-navigation-top-offset, 83%)!important;
    width: calc(var(--swiper-navigation-size) / 1 * 1)!important;
    font-weight: 400;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    border-style: solid!important;
    border-width: 0 3px 3px 0!important;
    content: ''!important;
    display: inline-block!important;
    padding: 5px!important;
    transform: rotate(-45deg)!important;
}

.swiper-button-prev::after {
    transform: rotate(135deg)!important;
}