{#
/**
 * @see web/core/themes/stable9/templates/layout/region.html.twig
 */
#}
{# Logo tablet up #}
<div class="wrapper-1">
      <div class="header-1">
            <div class="phone">
                  <div class="icon"></div>
                  <div class="tel"><a class="" href="tel:{{ telephone|replace({' ': ''}) }}">{{ telephone }}</a></div>
            </div>
            <ul class="second">
                  <li><a href="/ru/form/feedback" class="webform-dialog webform-dialog-narrow button">Написать нам</a></li>
                  <li>{{ content }}</li>
            </ul>
      </div>
</div>
