{#
/**
 * @see web/core/themes/stable9/templates/layout/region.html.twig
 */
#}
{# Logo tablet up #}
<div class="wrapper-2">
      <div class="header-2">
            <div class="navbar-brand">
                  <a href="/" class="logo-link"></a>
            </div>
            <div class="menu-body">
                  {{ content }}
            </div>
      </div>
</div>
<div class="burger-menu">
</div>
