{% block paragraph %}
    {% block content %}
        <div class="paragraph paragraph--numbered-section-item">
            <div class="counter">{{ counter }}</div>
                {% if content.field_title_formatted %}
                    <h3 class="h3">{{ content.field_title_formatted|without('#theme')|typography }}</h3>
                {% endif %}
                {% if content.field_description %}
                    <div class="paragraph-text">
                        {{ content.field_description|without('#theme')|typography }}
                    </div>
                {% endif %}
        </div>
    {% endblock %}
{% endblock paragraph %}


