{% block paragraph %}
    {% block content %}
        <div class="paragraph paragraph--proizvodstvo-block wrapper">
            {% if content %}
                {% if content.field_title|render|trim|length > 0  %}
                    <div><h2 class="h2">{{ content.field_title|without('#theme')|typography }}</div>
                {% endif %}
                <div class="content">
                {{ drupal_view('proizvodstvo', 'block_1') }}
                </div>
            {% endif %}
        </div>
    {% endblock %}
{% endblock paragraph %}


