{% block paragraph %}
    {% block content %}
        <div class="paragraph paragraph--image-with-title-and-text wrapper">
            {% if content.field_title %}
            <h2 class="h2">{{ content.field_title|without('#theme') }}</h2>
            {% endif %}
            <div class="content {{ image_position }}">
                {% if content.field_img %}
                <div class="item">{{ content.field_img }}</div>
                {% endif %}
                {% if content.field_title_and_text %}
                <div class="item">{{ content.field_title_and_text|without('#theme')|typography  }}</div>
                {% endif %}
            </div>
        </div>
    {% endblock %}
{% endblock paragraph %}


