{% block paragraph %}
    {% block content %}
        <div class="paragraph paragraph--headline wrapper">
            {{ content.field_headline_div|without('#theme')|typography }}
        </div>
    {% endblock %}
{% endblock paragraph %}


