{% block paragraph %}
        {% block content %}
                <div class="big-text-item">
                        <div class="item-up">
                                <div class="title">{{ content.field_title|without('#theme') }}</div>
                                <div class="right-text">{{ content.field_medium_text|without('#theme') }}</div>
                                {{ content.field_img|without('#theme') }}
                        </div>
                        <div>{{ content.field_description|without('#theme') }}</div>
                </div>
        {% endblock %}
{% endblock paragraph %}