
{% block paragraph %}
    {% block content %}
        <div class="paragraph paragraph--zakazhite-u-nas">
            {% if content %}
                <div class="content wrapper">
                    {{ content.field_headline_div|without('#theme') }}
                    <div class="service-items">{{ content.field_order_item|without('#theme') }}</div>
                </div>
            {% endif %}
        </div>
    {% endblock %}
{% endblock paragraph %}


