{% block paragraph %}
        {% block content %}
            {% if content.field_documents|render %}
            <div class="paragraph paragraph--type--dokumentaciya">
                {{ content.field_documents }}
            </div>
            {% endif %}
        {% endblock %}
{% endblock paragraph %}
