{%
    set classes = [
    'paragraph',
    'paragraph-symbols',
]
%}

{% block paragraph %}
    <div{{ attributes.addClass(classes) }}>
        {% block content %}
            <div class="productsymbolstring">
                {% for item in items %}
                    <div>{{ item.headline }}</div>
                {% endfor %}
            </div>
            <div class="productsymbollegend">
                {{ content.field_sybols_items|without('#theme') }}
            </div>
        {% endblock %}
    </div>
{% endblock paragraph %}