{% block paragraph %}
    {% block content %}
        <div class="paragraph paragraph--produkciya-block wrapper" id="produkciya-block">
            {% if content %}
                {% if content.field_headline_div|render|trim|length > 0  %}
                    {{ content.field_headline_div|without('#theme')|typography }}
                {% endif %}
                <div class="content">
                {{ drupal_view('produkciya_block', 'block_1') }}
                </div>
            {% endif %}
        </div>
    {% endblock %}
{% endblock paragraph %}


